

div.year-column{
    height: 40px;
    background-color: #3C3C76;
    color : white;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
}

#footer{
    height: 80px;
    background-color: #3C3C76;
    color : white;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    margin:0 -200%;
    padding:0 200%;
}

div.event{
    height: auto;
    background-color: #EEEEEE;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
}

body.test{
    background-color: #C73E3A;
}